body{
    background-image: linear-gradient(45deg, rgb(46, 46, 90) 10%, rgb(28, 77, 119) 99%);
    width: 99%;
   
    background-repeat: no-repeat;

    color: rgb(195, 184, 223);
}
#title, #description{
    text-align: center;
}

#survey-form{
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    border: solid 2px whitesmoke;
    padding: 1rem;
    box-shadow: 0px 2px 10px white;
}
#name,#email,#number{
    width: 300px;
    height: 25px;
    background-color: rgb(46, 46, 90);
    margin: 3px;
    color: aliceblue;
    max-width: 100%;
}
#dropdown{
    background-color: rgb(203, 195, 236);
    font-weight: 550;
}
#comment{
    width: 40%;
    height: 40px;
    background-color: rgb(46, 46, 90);
    color: aliceblue;
}
#submit{
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    margin-left: 20px;
    top: -15px;
    border-radius: 3px;
    position: relative;
    background-color:  rgb(28, 77, 119);
    color: aliceblue;
}
#submit:hover{
    background-color:  rgb(43, 90, 130);
    color: rgb(216, 205, 250);
}
